{% extends 'base.html.twig' %}
{% block title %}Vendor Machine{% endblock %}
{% block body %}
    <div class="container">
        {% include 'partials/messages.html.twig' %}
        <h1>Vendor Machine</h1>
        <div class="row">
            <div class="col-sm-6">
                {% include 'partials/product_table.html.twig' with { 'products': products } %}
                <a href="{{ path('technical_service') }}">Service</a>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-info" role="alert">
                            Remember only 0.05, 0.10, 0.25 and 1 coins are accepted
                        </div>
                        <form method="post" action="{{ path('insert_coin') }}">
                            <div class="form-row">
                                <div class="form-group mb-2">
                                    <label for="insertedCoins" class="sr-only">Inserted Coins</label>
                                    <input type="text" readonly class="form-control-plaintext" id="insertedCoins" value="Total: {{ "%.2f"|format(totalInserted) }}">
                                </div>
                            </div>
                            <div class="form-row align-items-center mb-2">
                                <div class="col-auto">
                                    <label for="product" class="sr-only">Product Selection</label>
                                    {% if selectedProduct is not empty %}
                                        <input type="text" name="product_name" class="form-control" readonly value="{{ selectedProduct.name }}">
                                        <input type="hidden" name="product" readonly value="{{ selectedProduct.code }}">
                                    {% else %}
                                        <select name="product" id="product" class="form-control">
                                            {% for product in products %}
                                                <option value="{{ product.code }}">{{ product.name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="col-auto">
                                    <label for="coin" class="sr-only">Coins</label>
                                    <input type="number" max="100" min="0.05" step="0.05" class="form-control" id="coin" name="coin" placeholder="coins..">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-2">Insert Coin</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% if selectedProduct is not empty %}
                    <div class="row">
                        <div class="col-sm-6">
                            <form action="{{ path('purchase_product') }}" class="form-inline">
                                <button type="submit" class="btn btn-primary mb-2">Purchase</button>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <form action="{{path('return_coins')}}" class="form-inline">
                                <button type="submit" class="btn btn-danger mb-2">Return Coins</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}